#contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact-text {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.contact-header {
  width: 70%;
  padding-top: 45px;
  margin: 0 auto;
  color: #141820;
  text-align: center;
  font-size: 72px;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 400;
  line-height: 82px;
}

.contact-text {
  padding-top: 51px;
  padding-bottom: 50px;
  width: 95%;
  margin: 0 auto;
  color: #555;
  text-align: center;
  font-size: 18px;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
form {
  display: flex;
  justify-content: center;
}
.email {
  width: 445px;
  height: 70px;
  border: 1px solid #ccc;
  background: #fff;
}
.email::placeholder {
  color: #555;
  text-align: center;
  font-size: 18px;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.submit {
  width: 221px;
  height: 70px;
  background-color: #57b8ff;
  border: none;
}
.submit::placeholder {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Orbitron;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
@media (max-width: 1300px) {
  .contact-header {
    font-size: 65px;
  }
  .contact-text {
    font-size: 17px;
  }
}
@media (max-width: 1100px) {
  .contact-header {
    font-size: 60px;
  }
}
@media (max-width: 1000px) {
  .contact-header {
    font-size: 55px;
  }
}
@media (max-width: 900px) {
  .contact-header {
    font-size: 50px;
  }
}

@media (max-width: 870px) {
  .contact-header {
    font-size: 45px;
  }
}
@media (max-width: 850px) {
  .contact-header {
    font-size: 40px;
  }
}
@media (max-width: 830px) {
  .contact-header {
    font-size: 35px;
  }
}
@media (max-width: 830px) {
  .contact-header {
    font-size: 30px;
  }
  .email {
    width: 400px;
    height: 65px;
  }
  .submit {
    width: 200px;
    height: 65px;
  }
}
@media (max-width: 630px) {
  .contact-header {
    font-size: 28px;
  }
  .email {
    width: 350px;
    height: 60px;
  }
  input::placeholder {
    font-size: 16px;
  }
  .submit {
    width: 150px;
    height: 60px;
  }
  .contact-text {
    width: 95%;
    font-size: 16px;
  }
}
@media (max-width: 530px) {
  .contact-header {
    font-size: 26px;
  }
  .email {
    width: 300px;
    height: 55px;
  }
  .email::placeholder {
    font-size: 10px;
  }
  .submit::placeholder {
    font-size: 10px;
  }
  .submit {
    width: 110px;
    height: 55px;
  }
}
@media (max-width: 430px) {
  .contact-header {
    font-size: 24px;
  }
  .email {
    width: 250px;
    height: 50px;
  }
  .submit {
    width: 100px;
    height: 50px;
  }
}
@media (max-width: 430px) {
  .contact-header {
    font-size: 22px;
  }
  .email {
    width: 200px;
    height: 45px;
  }
  .submit {
    width: 90px;
    height: 45px;
  }
}
@media (max-width: 330px) {
  .contact-header {
    font-size: 20px;
  }
  .email {
    width: 150px;
  }
  .submit {
    width: 85px;
  }
}
